$tablet-width: 768px;
$desktop-width: 1024px;

$base:#6363E4;
$base--hover:#7171E3;
$secondary: #E7DFF3;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.App {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

.Topbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.2s ease-in-out;
}

.Topbar {
  background-color: $base;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4;

  &__menu-button {
    cursor: pointer;
    background: url('../images/bars-line.svg') no-repeat;
    height: 40px;
    max-width: 50px;
    position: absolute;
    top: 30px;
    left: 15px;
    right: 0px;
    margin-left: 5px;

    &:hover {
      transform: translateY(-5px);
      transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 800;
    flex: 1;
    color: white;

    @include tablet {
      font-size: 18px;
    }

    @include desktop {
      font-size: 30px;
    }
  }
}

.Button {
  border-radius: 4px;
  display: inline-block;
  background-color:$base;
  color: white;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
  line-height: 20px;
  height: 20px;
  box-shadow: 0px 6px 7px 0px rgba(113, 113, 227, 0.3);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: .025em;
  cursor: pointer;
  transition: all 0.15s ease-in-out;

  &:hover{
    background-color: $base--hover;
    transform: translateY(-1px);
    box-shadow: 1px 6px 7px 0px rgba(113, 113, 227, 0.63);
  }
}

.LandingContent {
  // &::before {
  //   content: '';
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 600px;
  //   height: 2000px;
  //   background: #f6f9fc;
  //   transform: skew(0,-12deg);
  // }
  background: transparent;
  &__flex-container {

    // only want nav magin for first child
    &:first-child {
      margin-top: 80px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__flex-item {
      // padding-top: 30px;
      // padding-bottom: 10px;
      height: 33%;
      width: 100%;
      background-color: $secondary;
      // margin: 2px;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      display: -webkit-flex;
      -webkit-justify-content: space-evenly;
      /* Safari 6.1+ */
      // medium nav bar uses this box shadow.
      // box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);
      box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1) inset;

      @include desktop {
        height: 400px;
      }

      @include tablet {
        height: 300px;
      }
    }

    @include desktop {
      flex-direction: row;
    }

    @include tablet {
      flex-direction: row;
    }
  }

  &__items-card {
    background-color: white;
    border-radius: 4px;
    display: flex; // width: 85%;
    flex-direction: column; // height: 70%;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.1);
    margin-top: 5px;
    margin-bottom: 5px;
  }

  &__item-content {
    font-size: 15px;
    color: #7277FA;
    display: flex;
    justify-content: 'center';
    align-items: 'center';
    @include desktop {
      font-size: 30px;
    }
    @include tablet {
      font-size: 20px;
    }
  }

  &__item-title {
    font-size: 15px;
    color: $base;
    padding: 5px;
    margin-top: 0;
    margin-bottom: 0;

    @include desktop {
      font-size: 30px;
    }
  }

  .Button {
    margin-right: 5px;
  }
}