$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

.App {
  font-family: 'Fira Sans', sans-serif;
  text-align: center;
}

.Topbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  transition: top 0.2s ease-in-out;
}

.Topbar {
  background-image: linear-gradient(-90deg, #543d70, #6c83c3);
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 4;

  &__menu-button {
    cursor: pointer;
    background: url('../images/bars-line.svg') no-repeat;
    height: 40px;
    max-width: 50px;
    position: absolute;
    top: 10px;
    left: 15px;
    right: 0px;
    margin-left: 5px;

    &:hover {
      transform: translateY(-5px);
      transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    }
  }

  &__title {
    font-size: 12px;
    font-weight: 800;
    flex: 1;
    color: white;

    @include tablet {
      font-size: 18px;
    }

    @include desktop {
      font-size: 30px;
    }
  }
}

.LandingContent {

  &__flex-container {

    // only want nav magin for first child
    &:first-child {
      margin-top: 62px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__flex-item {
      height: 150px;
      width: 100%;
      background-color: #D5D5D5;
      margin: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      // medium nav bar uses this box shadow.
      // box-shadow: 0 2px 2px -2px rgba(0,0,0,.15);

      @include desktop {
        height: 400px;
      }

      @include tablet {
        height: 300px;
      }
    }

    @include desktop {
      flex-direction: row;
    }

    @include tablet {
      flex-direction: row;
    }
  }

  &__item-content {
    font-size: 15px;
    color: salmon;

    @include desktop {
      font-size: 30px;
    }

    @include tablet {
      font-size: 20px;
    }
  }
}
